doctype html
html
  head
    link(rel='ampHtml' href=target.ampUrl)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" rel="stylesheet")
    title= "Signed HTTP Exchanges"
    style.
      body {
        font-family: "Roboto",sans-serif;
        color: #333;
      }
      p {
        padding: 0 18px;
        margin: 0;
      }
      h1 {
        padding: 18px;
        margin: 0;
        color: #FFF;
      }
      header {
        background-color: #318e8599;
      }
      header > h1 {
        color: white;
      }
      img {
        width: 100%;
      }
      .message {
        margin-top: 8px;
      }
  body
    header
      h1= target.name
    img(src=target.img)
    p(class="message") #{target.name}
