doctype html
html(amp)
  head
    script(src='https://cdn.ampproject.org/v0.js', async)
    link(rel='canonical' href='.')
    link(href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700" rel="stylesheet")
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,minimum-scale=1,initial-scale=1')
    style(amp-boilerplate).
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate).
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    title= "Signed HTTP Exchanges"
    style(amp-custom).
      body {
        font-family: "Roboto",sans-serif;
        color: #333;
      }
      p {
        padding: 0 18px;
        margin: 0;
      }
      h1 {
        padding: 18px;
        margin: 0;
        color: #FFF;
      }
      .header {
        background-color: #318e8599;
      }
      .notice {
        font-weight: bold;
      }
      .message {
        margin-top: 8px;
      }
      p .background {
        background-color: #d8d8d8;
      }
  body
    header(class="header")
      h1= "ONSEN LIST"
    ul
      each val in onsens
        li
          a(href=val.url) #{val.name}
          span  /  
          a(href=val.ampUrl) amp
    p(class="notice") chrome://flags/#enable-signed-http-exchange
    p(class="notice") chrome://flags/#allow-sxg-certs-without-extension
    p(class="message") Run this command to accept self signed certificate for the demo.
      br
      span(class="background") open -a Google\ Chrome\ Canary --args --ignore-certificate-errors-spki-list=qj57iAwMZqpUnOrMO+6chyDZqD9ZgcRGgsd6FBhgi1U=
    p(class="message") You need to set "AMP-Cache-Transform: google" as a request header to see sxg response. Please use some local proxy, or 
      a(href="https://mod-header.appspot.com/" target="_blank") ModHeader
      span  which is a useful Chrome extension.
